@model BloodAlcoholAssistant.Models.AlcoholsViewModel

@{
    ViewBag.Title = "Blood Alcohol Assistant";
}

@Html.BeginForm()
{
    @foreach (var alcoholItem in Model.ListOfAlcohols)
    {
        <div>
            <p>@Html.TextBoxFor(name => alcoholItem.Name)</p>
        </div>
        <div>
            <p>@Html.TextBoxFor(volume => alcoholItem.LitresVolume)</p>
        </div>
        <div>
            <p>@Html.TextBoxFor(percent => alcoholItem.Percent)</p>
        </div>
    }

    <div>
        @Html.ActionLink("Zobacz wynik", "Result", "Assistant")
    </div>
}