@model BloodAlcoholAssistant.Models.AlcoholsViewModel

@{
    ViewBag.Person = HttpContext.Current.Session["Person"];
}

@using (Html.BeginForm("Calculate", "Assistant"))
{

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Nazwa</th>
            <th>Objętość [l]</th>
            <th>Alkohol [%]</th>
        </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < (ViewBag.Person as Person).NumberOfAlcohols; i++)
        {
            <tr>
                <th scope="row">@(i + 1)</th>
                <th>@Html.TextBoxFor(x => Model.ListOfAlcohols[i].Name)
                    @Html.ValidationMessageFor(x => Model.ListOfAlcohols[i].Name)</th>
                <th>@Html.TextBoxFor(x => Model.ListOfAlcohols[i].LitresVolume)
                    @Html.ValidationMessageFor(x => Model.ListOfAlcohols[i].Name)</th>
                <th>@Html.TextBoxFor(x => Model.ListOfAlcohols[i].Percent)
                    @Html.ValidationMessageFor(x => Model.ListOfAlcohols[i].Name)</th>
            </tr>
        }
        </tbody>
    </table>

    <div class="row" align="center">
        <input type="submit" class="btn btn-danger input-lg" value="Podsumuj"/>
    </div>

    <div clas="row" align="center">
        @Html.ActionLink("Anuluj", "Welcome", "Assistant")
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}